<main class="page__main">
    <div class="wrapper__main">
        <section class="section-1">
            <div class="wrapper__section1">
                <p class="tips-text">Insomnia Tips</p>
                <h3 class="section1-title">Looking Through A Window</h3>
                <p class="paragraph--1">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
                <div class="btn-section1"><a class="go-link" href="">go</a></div>
            </div>
        </section>
        <section class="section-2">
            <h3 class="section2-title">3 Reasons To Purchase</h3>
            <div class="wrapper__section2">
                <ul class="wrapper__list">
                    <li class="paragraph paragraph--2">
                        <p class="list-title">Ut sed metus</p>
                        <p class="list-text">Lorem ipsum dolor sit amet, consecteur.</p>
                    </li>
                    <li class="paragraph paragraph--3">
                        <p class="list-title">Curabitur ac erat</p>
                        <p class="list-text">Mauris mattis urna quis lorem molestie..</p>
                    </li>
                    <li class="paragraph paragraph--4">
                        <p class="list-title">Morbi dictum</p>
                        <p class="list-text">Aliquam in dolor et dolor tincidunt.</p>
                    </li>
                </ul>
            </div>
            <div class="btn-section2"><a class="reasons-link" href="">More reasons</a></div>
        </section>
    </div>
</main>