<main class="page__main">
    <div class="wrapper__main">
        <section class="section-1">
            <div class="wrapper__section1">
                <p class="tips-text">Insomnia Tips</p>
                <h3 class="section1-title">Looking Through A Window</h3>
                <p class="paragraph--1">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
                <a class="go-link" href=""><div class="link-section1">go</div></a>
            </div>
        </section>
        <section class="section-2">
            <div class="wrapper__section2">
                <h3 class="section-title">3 Reasons To Purchase</h3>
                <ul class="text-list">
                    <li class="paragraph--2">
                        <p class="text-title">Ut sed metus</p>
                        <p class="">Lorem ipsum dolor sit amet, consecteur.</p>
                    </li>
                    <li class="text--1">
                        <p class="text-title">Curabitur ac erat</p>
                        <p class="">Mauris mattis urna quis lorem molestie..</p>
                    </li>
                    <li class="text--2">
                        <p class="text-title">Morbi dictum</p>
                        <p class="">Aliquam in dolor et dolor tincidunt.</p>
                    </li>
                </ul>
            </div>
            <div class="reasons-link"><a href="">more reasons</a></div>
        </section>
    </div>
</main>