.page__hero {
    min-height: 100vh;
    background: url('../images/cover.jpg') top center no-repeat;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.wrapper__hero {
    padding: 0 15px;
}

.message-hero {
    color: #ffffff;
    text-align: center;
}

.title-hero {
    font-size: 42px;
    text-transform: uppercase;
}

.text-hero {
    font-size: 16px;
    padding-bottom: 143px;
}

//Button Hero
.scroll-hero {
    width: 45px;
    height: 45px;
    border-radius: 22px;
    background: url('../images/ico-scroll-down.svg') #ffffff center no-repeat;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    bottom: 53px;
    transform: translateX(-50%);
    border:unset;
    outline: none;

    @media all and (min-width:768px) {
        bottom: 45px; 
    }

    @media all and (min-width:1280px) {
        bottom: 13px; 
    }
}

//Mediaquery tablet 768px
@media all and (min-width: 768px) {
    .wrapper__hero {
        padding: 0 39px;
    }
    .title-hero {
        font-size: 80px;
    }
    .text-hero {
        font-size: 24px;
        padding-bottom: 120px;
    }
}

//Mediaquery desktop 1280px
@media all and (min-width: 1280px) {
    .wrapper__hero {
        padding: 0 275px;
    }
    .title-hero {
        font-size: 100px;
    }
    .text-hero {
        padding-bottom: 88px;
    }
}