.page__hero {
    min-height: 100vh;
    background: url('../images/cover.jpg') center no-repeat;
    box-sizing: border-box;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.wrapper__hero {
    padding: 0 15px 143px 15px;
    width: 100vw;
    // position: relative;
}

.message-hero {
    color: #ffffff;
    text-align: center;
}

.title-hero {
    font-size: 42px;
    text-transform: uppercase;
}

.text-hero {
    font-size: 16px;
}

.scroll-hero {
    width: 45px;
    height: 45px;
    border-radius: 22px;
    background: url('../images/ico-scroll-down.svg') #ffffff center no-repeat;
    box-sizing: border-box;
    // position: absolute;
    // left: 138px;
    // bottom: 53px;
}

//Mediaquery tablet
@media all and (min-width: 768px) {
    .wrapper__hero {
        padding: 0 39px 120px;
        width: 100vw;
    }
    .title-hero {
        font-size: 80px;
    }
    .text-hero {
        font-size: 24px;
    }
}

//Mediaquery desktop
@media all and (min-width: 1280px) {
    .wrapper__hero {
        padding: 0 275px 88px;
        width: 100vw;
    }
    .title-hero {
        font-size: 100px;
    }
}