.page__footer {
    background: $BG-Footer;
    padding: 38px 15px 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.text {
    font-size: 14px;
    line-height: 2.14;
    color: $Color-text-white;
    text-align: center;
}

.text-footer {
    width: 290px;
    height: 30px;
}

.heart {
    color: #f26002;
}