//Grid Section 2
.wrapper__list {
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 180px;
    grid-gap: 45px;

    @media all and (min-width: 768px) {
        grid-template-columns: 212px 212px 212px;
        grid-template-rows: 1fr;
        grid-gap: 28px;
    }
    @media all and (min-width: 1280px) {
        display: flex;
        justify-content: center;
        grid-template-columns: 353px 353px 353px;
        grid-template-rows: 1fr;
        grid-gap: 26px;
    }
}
