.wrapper__main {
}

.section-1 {

}
.section-1 {
    padding: 0 15px;
    background: #ffffff;
}
.wrapper__section1 {
}

.section-2 {
    padding: 0 15px;  
    background: #eff9ff;
}

.wrapper__section2 {
}