//SECTION-1

.section-1 {
    padding: 0 15px;
    background: #ffffff;
}

.tips-text {
    width: 100px;
    height: 30px;
    line-height: 2.14;
    padding-top: 30px;
    padding-bottom: 1px;
    font-size: 14px;
    color: #8ccbea;
}

.section1-title {
    width: 290px;
    height: 60px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1.25;
    color: #000000;
    font-weight: bold;
}

.paragraph--1 {
    max-width: 100vw;
    min-width: 290px;
    
    height: 120px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: #4a4a4a;
    text-align: justify;
}

.link-section1 {
    margin-top: 30px;
    padding-bottom: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
}

.go-link {
    width: 76px;
    height: 45px;
    border-radius: 23px;
    border: 2px solid #f26002;
    font-size: 20px;
    line-height: 2.25;
    color: #f26002;
    background: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

//SECTION-2

.section-2 {
    padding: 0 15px;  
    background: #eff9ff;
}

.section2-title {
    width: 100%;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 45px;
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    text-align: center;
}

.wrapper__section2 {
    display: flex;
    justify-content: center;
}

.wrapper__list {
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 180px;
    grid-gap: 45px;
}

.list-title {
    width: 184px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
}

.list-text {
    width: 180px;
    height: 63px;
    font-size: 18px;
    line-height: 1.67;
}

.link-section2 {
    padding-top: 45px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}

.reasons-link {
    width: 184px;
    height: 45px;
    border-radius: 23px;
    border: 2px;
    font-size: 20px;
    line-height: 2.25;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background:  #f26002;
}