.page__main {

}

.wrapper__main {
}

.section-1 {

}
.section-1 {
    padding: 0 15px;
    background: #ffffff;
}
.wrapper__section1 {
}

.tips-text {
    width: 100px;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 1px;
    font-size: 14px;
    color: #0e80b9;
}

.section1-title {
    width: 290px;
    height: 60px;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;

}

.paragraph--1 {
    width: 300px;
    height: 120px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
    color: #4a4a4a;
    text-align: justify;
}

.go-link {
    font-size: 20px;
    line-height: 2.25;
    color: #f26002;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}

.link-section1 {
    width: 76px;
    height: 45px;
    margin-bottom: 45px;
    border-radius: 22px;
    border: 2px solid #f26002;
}

.section-2 {
    padding: 0 15px;  
    background: #eff9ff;
}

.wrapper__section2 {
}


.reasons-link {
    display: flex;
    justify-content: center;
    align-items: center;
}