//Color palette
$greyish-brown: #4a4a4a;
$dark-grey-blue: #304268;
$white: #ffffff;
$black: #000000;
$lightblue: #8ccbea;
$ice-blue: #eff9ff;

//Text styles
$font-family: 'RobotoSlab';



//VARIABLES
$Color-text-white: $white;
$BG-Footer: $dark-grey-blue;
